li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


/* a:hover {
    text-decoration: none;
    color: black;
} */

html,
body {
    padding: 0;
    margin: 0;
}


/* style for profile for aspect ratio sabin lawaju*/

.profile {
    width: 60%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20%;
    border: 1px solid #ffffff;
}


/* Aspect ratio Sabin lawaju*/

#aspect-ratio {
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}


/* style for user_img.. Sabin lawaju */

.user_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container_fluid {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#profile_img {
    width: 100%;
    /*height: auto;
    border-radius: 50%;
    border: 1px solid #ffffff;*/
}

#university_logo {
    width: 90%;
    height: auto;
    border-radius: 5%;
    padding: 1% 5%;
}

.nav_div {
    width: 15%;
    padding: 0;
    background-color: #2C473E;
    height: 100vh;
    transition: all 0.3s ease;
}

.main_body {
    width: 95%;
}

.nav_list ul {
    padding-left: 0;
}

.nav_list ul li a {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin-left: 5%;
    padding: 5% 14%;
    color: #FFFFFF;
}

.nav_list ul li a.active {
    background-color: #FFFFFF;
    opacity: 1;
    color: black;
    padding: 5% 15%;
    font-weight: 400;
    border-radius: 5px 0% 0% 5px;
}

.nav_list ul li i {
    padding-right: 10%;
}

.nav_list ul li:hover {
    background-color: #fff;
    color: black;
    border-radius: 5px 0% 0% 5px;
    margin-left: 5%;
}

.nav_list ul li a:hover {
    color: #444;
    font-weight: 400;
}


/* sm_nav_bar */

#sm_nav_div {
    width: 100px;
    background-color: royalblue;
}


/* after click hamberger button */

.nav_div.collapse {
    width: 5%;
    transition: all 0.3s ease;
}

.nav_div.collapse .nav_list ul li a {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    padding: 5% 30%;
}

.nav_div.collapse .title {
    display: none;
}

.nav_div.collapse .main_body {
    width: 95%;
    margin-left: 15%;
}


/* body */

.main_body {
    display: flex;
    flex-direction: column;
    position: none;
    position: relative;
    height: auto;
}

.search_bar {
    background-color: brown;
    padding: 0;
    overflow: hidden;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2%;
}

.left_body {
    /* display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 'left right'; */
    width: 68%;
    padding: 1%;
    border-right: 2px solid #707070;
}

.right_body {
    width: 28%;
    padding: 1%;
}

.col-sm-12 {
    overflow: hidden;
}

.search_bar .search_field {
    width: 100%;
    padding: 1% 2%;
    font-size: 24px;
}

.body_content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.top_contents {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 'left right';
    grid-gap: 5px;
    padding: 1%;
    border-bottom: 2px solid #707070;
}

.left_body .left_chart {
    grid-area: left;
    padding-left: 4%;
    padding-right: 4%;
    border-right: 2px solid #707070;
}

.left_body .right_chart {
    grid-area: right;
    padding-left: 4%;
    padding-right: 2%;
}